<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.SiteAdminMapper">
	<!-- 캠핑장 등록 -->
	<select id="SiteSeq" resultType="Long">
		SELECT CAMPINGSITE_SEQ.NEXTVAL FROM dual
	</select>
	
	<insert id="insertSite" parameterType="com.fa.plus.domain.site.Site">
	insert into campingsite(siteNum,siteName,INTrODUCE,siteLocal,ZIP,addr1,addr2,
	 THUMBNAIL,CATEGORY,ENVIRONMENT,hitCount,checkIn,checkOut,
	  memberIdx,AVGSTAR,siteOption,ENABLED)
		
		values(#{siteNum}, #{siteName}, #{introduce}, #{siteLocal}, #{zip}, #{addr1}, #{addr2},
		 #{thumbnail}, #{category}, #{environment}, 0 , #{checkIn}, #{checkOut},
		  #{memberIdx}, 0 , #{siteOption}, 0)
	
		
	</insert>
	
	<!-- 추가 이미지 등록 -->
	<insert id="insertSiteFile" parameterType="com.fa.plus.domain.site.Site">
		INSERT INTO sitePic(SPICNUM, siteNum, fileName)
			VALUES(SITEPIC_SEQ.NEXTVAL, #{siteNum}, #{fileName})
	</insert>
	<insert id="insertAdList" parameterType="com.fa.plus.admin.domain.site.AdSite">
		INSERT INTO promotionsite(ADNUM,SITENUM ,STARTP ,ENDP,ADFEE)
			VALUES(promotionsite_seq.nextval,#{siteNum}, #{startP}, #{endP},#{adFee})
	</insert>

		
	<select id="dataCountSite" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM campingsite 
		<if test="memberIdx!=null and memberIdx!=''">		
			where  memberIdx=#{memberIdx}
		</if>
	</select>
	

	<!-- 방 등록 -->
	<select id="RoomSeq" resultType="Long">
		SELECT sitedetail_seq.nextval FROM dual
	</select>
	
	<insert id="insertRoom" parameterType="com.fa.plus.domain.site.SiteDetail">
	insert into sitedetail(detailNum,siteNum,detailName,PRICE,AREA,CONTENT,CAPACITY,floor)
		
		values(#{detailNum},#{siteNum},#{detailName},#{price},#{area},#{content},#{capacity},#{floor})
	
		
	</insert>
	
	<!-- 추가 이미지 등록 -->
	<insert id="insertRoomFile" parameterType="com.fa.plus.domain.site.SiteDetail">
		INSERT INTO sitedetailPic(SdPICNUM, detailNum, fileName)
			VALUES(sitedetailPic_SEQ.NEXTVAL, #{detailNum}, #{fileName})
	</insert>

		
	<select id="dataCountRoom" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM sitedetail
		where  siteNum=#{siteNum}
	</select>
	<select id="searchCountSite" parameterType="com.fa.plus.domain.site.SiteSearch" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM campingsite 
		join (select distinct(siteNum) chknum from sitedetail)  on chknum=siteNum
		<if test="startDate!=null and startDate!=''">
			join ( select distinct siteNum from sitedetail
			        where detailNum not in
			            (select sitedetail.detailNum detailNum from sitedetail 
			            left join(select detailNum,ENDDATE,STARTDATE 
			            from book join booklist on book.listnum=booklist.listnum  where enddate>sysdate and state=0) book on sitedetail.detailNum=book.detailNum
			             where ENDDATE  &gt;= TO_DATE(#{startDate},'yyyy-mm-dd') and TO_DATE(#{endDate},'yyyy-mm-dd') &gt;= STARTDATE)
			        ) a on campingsite.siteNum=a.siteNum
		</if>
		<where>
			<include refid="where-list"/>
		</where> 		
		
	</select>
	<!--  검색용 -->
	<!-- 
		
		
		-->
	<sql id="where-list">
		ENABLED= 0 
		
		<if test="siteKwd!=null and siteKwd!=''">
			and  INSTR(siteName, #{siteKwd}) &gt; 0
		</if>
		<if test="siteLocal!=null and siteLocal!=''">
			and  siteLocal=#{siteLocal}
		</if>
		<if test="siteEnvironment!=null and siteEnvironment!=''">
			and    Environment=#{siteEnvironment}
		</if>
		<if test="siteCategory!=null and siteCategory!=''">
			and  CATEGORY=#{siteCategory}
		</if>
		
		
		<choose>
			<when test="minFee!=null and minFee!='' and maxFee!=null and maxFee!=''">
				and campingsite.siteNum in (select  distinct siteNum from sitedetail where  #{minFee} &lt;= price and #{maxFee} &gt;= price)
			</when>
			<when test="minFee!=null and minFee!=''">
				and campingsite.siteNum in (select  distinct siteNum from sitedetail where  #{minFee} &lt;= price )
			</when>
			<when test="maxFee!=null and maxFee!=''">
				and campingsite.siteNum in (select  distinct siteNum from sitedetail where  #{maxFee} &gt;= price)
			</when>
		</choose>
	</sql>
	<sql id="where-list-room">
		
		<choose>
			<when test="minFee!=null and minFee!='' and maxFee!=null and maxFee!=''">
				and siteNum in (select  distinct siteNum from sitedetail where  #{minFee} &lt;= price and #{maxFee} &gt;= price)
			</when>
			<when test="minFee!=null and minFee!=''">
				and siteNum in (select  distinct siteNum from sitedetail where  #{minFee} &lt;= price )
			</when>
			<when test="maxFee!=null and maxFee!=''">
				and siteNum in (select  distinct siteNum from sitedetail where  #{maxFee} &gt;= price)
			</when>
		</choose>
		<if test="startDate!=null and startDate!=''">
			
			    
				       and  detailNum not in
		(select sitedetail.detailNum detailNum from sitedetail  
		left join(select detailNum,ENDDATE,STARTDATE from book  join booklist on book.listnum=booklist.listnum  where enddate>sysdate and state=0) book
	    on sitedetail.detailNum=book.detailNum 
	    where  ENDDATE  >= TO_DATE(#{startDate},'yyyy-mm-dd') and TO_DATE(#{endDate},'yyyy-mm-dd') >= STARTDATE) 
			</if>
		</sql>
	<!-- 리스트 -->
	<select id="listSite" parameterType="map" resultType="com.fa.plus.domain.site.Site">
		SELECT siteNum,siteName,siteLocal,addr1,addr2,
	 		CATEGORY,ENVIRONMENT,hitCount,THUMBNAIL,
	 		 AVGSTAR,introduce
		FROM campingsite
		<where>
			<include refid="where-list"/>
			<if test="memberIdx!=0 and memberIdx!=''">		
				and memberIdx=#{memberIdx}
			</if>
		</where> 		
		ORDER BY siteNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
		
	</select>
	<select id="listAdvertiseSite"  resultType="com.fa.plus.domain.site.Site">
		SELECT campingsite.siteNum,siteName,siteLocal,addr1,addr2,
	 		CATEGORY,ENVIRONMENT,hitCount,THUMBNAIL,
	 		 AVGSTAR,introduce
		FROM campingsite
		join promotionsite on campingsite.siteNum=promotionsite.siteNum
        where STARTP &lt; sysdate and ENDP &gt; sysdate
		order by dbms_random.value
		FETCH FIRST 3 ROWS ONLY
		
	</select>
	<select id="listRoom" parameterType="map" resultType="com.fa.plus.domain.site.SiteDetail">
		SELECT detailNum,siteNum,detailName,PRICE,AREA,CONTENT,CAPACITY,floor, nvl(star,0) star
		FROM sitedetail 
        left join (select trunc(avg(score),1) star,detailnum dnum from sitereview  group by detailnum) on dnum=detailnum
		where siteNum=#{siteNum}
		ORDER BY detailNum DESC;
		
	</select>
	<!-- 사이트용 검색 -->
	<select id="listSearchSite" parameterType="com.fa.plus.domain.site.SiteSearch" resultType="com.fa.plus.domain.site.Site">
		SELECT campingsite.siteNum siteNum,siteName,siteLocal,addr1,addr2,
	 		CATEGORY,ENVIRONMENT,hitCount,introduce,THUMBNAIL,
	 		 AVGSTAR,siteOption
		FROM campingsite
		join (select distinct(siteNum) chknum from sitedetail)  on chknum=siteNum
		<if test="startDate!=null and startDate!=''">
			join ( select distinct siteNum from sitedetail
			        where detailNum not in
			            (select sitedetail.detailNum detailNum from sitedetail 
			            left join(select detailNum,ENDDATE,STARTDATE from book  join booklist on book.listnum=booklist.listnum  where enddate>sysdate and state=0) book on sitedetail.detailNum=book.detailNum
			             where ENDDATE  &gt;= TO_DATE(#{startDate},'yyyy-mm-dd') and TO_DATE(#{endDate},'yyyy-mm-dd') &gt;= STARTDATE)
			        ) a on campingsite.siteNum=a.siteNum
		</if>
		<where>
			<include refid="where-list"/>
		</where> 		
		ORDER BY siteNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
		
	</select>
	<select id="listSearchRoom" parameterType="com.fa.plus.domain.site.SiteSearch" resultType="com.fa.plus.domain.site.SiteDetail">
		SELECT detailNum,siteNum,detailName,PRICE,AREA,CONTENT,CAPACITY,floor, nvl(star,0) star
		FROM sitedetail 
		left join (select trunc(avg(score),1) star,detailnum dnum from sitereview  group by detailnum) on dnum=detailnum
		<where>
		siteNum=#{siteNum} 
			<include refid="where-list-room"/>
		</where> 
		ORDER BY detailNum 
		
	</select>
	<!-- 탐색 -->
	<select id="findByIdSite" parameterType="Long" resultType="com.fa.plus.domain.site.Site">
		SELECT siteNum,siteName,INTrODUCE,siteLocal,ZIP,addr1,addr2,
	 		 THUMBNAIL,CATEGORY,ENVIRONMENT,hitCount,checkIn,checkOut,
	 		 memberIdx,AVGSTAR,siteOption,ENABLED
		FROM campingsite 
		where 	siteNum=#{siteNum}
	</select>
	<select id="findByIdRoom" parameterType="Long" resultType="com.fa.plus.domain.site.SiteDetail">
		SELECT detailNum,siteNum,detailName,PRICE,AREA,CONTENT,CAPACITY,floor
		FROM sitedetail 
		where 	detailNum=#{detailNum}
	</select>
	<select id="listSiteFile" parameterType="Long" resultType="com.fa.plus.domain.site.Site">
		SELECT SPICNUM fileNum, siteNum, fileName
		FROM sitepic
		WHERE siteNum = #{siteNum}
	</select>
	<select id="listRoomFile" parameterType="Long" resultType="com.fa.plus.domain.site.SiteDetail">
		SELECT SdPICNUM fileNum, detailNum , fileName
		FROM sitedetailPic
		WHERE detailNum = #{detailNum}
	</select>
	<!-- 업데이트/삭제 -->
	
	
	<update id="updateSite" parameterType="com.fa.plus.domain.site.Site">
		UPDATE campingsite SET siteName=#{siteName},INTrODUCE=#{introduce},
				siteLocal=#{siteLocal},ZIP=#{zip},addr1=#{addr1},addr2=#{addr2},
	 		 THUMBNAIL= #{thumbnail},CATEGORY=#{category},
	 		 ENVIRONMENT=#{environment},checkIn= #{checkIn},checkOut= #{checkOut},
	 		 siteOption= #{siteOption}
		WHERE siteNum = #{siteNum}
	</update>

	<delete id="deleteSite" parameterType="Long">
		DELETE FROM campingsite WHERE  siteNum = #{siteNum}
	</delete>
	
	<delete id="deleteSiteFile" parameterType="Long">
		DELETE FROM sitepic WHERE spicnum = #{fileNum}
	</delete>
	
	
	<update id="updateRoom" parameterType="com.fa.plus.domain.site.Site">
		UPDATE sitedetail SET
			detailName=#{detailName},PRICE=#{price},
			AREA=#{area},CONTENT=#{content},CAPACITY=#{capacity},floor=#{floor}
		WHERE detailNum = #{detailNum}
	</update>

	<delete id="deleteRoom" parameterType="Long">
		DELETE FROM sitedetail WHERE  detailNum = #{detailNum}
	</delete>
	
	<delete id="deleteRoomFile" parameterType="Long">
		DELETE FROM sitedetailPic WHERE SdPICNUM = #{SdPicNum}
	</delete>
	

</mapper>