<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.ShopCustomerMapper">

	<!-- 상품 리뷰 -->
	<select id="listReview" parameterType="map" resultType="com.fa.plus.admin.domain.shop.ShopReview">
		SELECT pr.orderDetailNum, pr.memberIdx, userName, score, review, answer, pr.productNum, filename, showReview, 
			pr.reviewDate, pr.answerDate, productName, op.optionValue, op2.optionValue optionValue2 
		FROM productReview pr 
		JOIN member1 m ON pr.memberIdx = m.memberIdx 
		JOIN orderDetail od ON pr.orderDetailNum = od.orderDetailNum 
		JOIN product p ON p.productNum = od.productNum 
		JOIN optionDetail op ON od.detailNum = op.detailNum 
		JOIN optionDetail op2 ON od.detailNum2 = op2.detailNum 
		LEFT OUTER JOIN ( 
			SELECT fileNum, LISTAGG(filename, ',') WITHIN GROUP(ORDER BY fileNum) filename, orderDetailNum 
            FROM productReviewFile 
            GROUP BY fileNum, orderDetailNum 
		) f ON pr.orderDetailNum=f.orderDetailNum 
		<where>
			<if test="memberIdx != null">
				pr.memberIdx = #{memberIdx}
			</if>
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
			</if>
		</where>
		ORDER BY reviewDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="reviewCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM productReview
		<where>
			<if test="memberIdx != null">
				memberIdx = #{memberIdx}
			</if>
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
			</if>
		</where>
	</select>
	
	<update id="updateReview" parameterType="com.fa.plus.admin.domain.shop.ShopReview">
		UPDATE productReview SET answer = #{answer}, answerDate = SYSDATE, showReview = #{showReview}
		WHERE orderDetailNum = #{orderDetailNum}
	</update>
	
	<select id="listReviewFile" parameterType="Long" resultType="com.fa.plus.admin.domain.shop.ShopReview">
		SELECT fileNum, orderDetailNum, filename
		FROM productReviewFile
		WHERE orderDetailNum = #{orderDetailNum}
	</select>
	
	<delete id="deleteReview" parameterType="Long">
		DELETE FROM productReview
		WHERE orderDetailNum = #{orderDetailNum}
	</delete>
	
	<!-- 상품 문의 -->
	<select id="listQuestion" parameterType="map" resultType="com.fa.plus.admin.domain.shop.ShopQuestion">
		SELECT q.qnaNum, q.questionIdx, m.userId questionId, 
        m.userName, secret, question, answer, answerIdx, 
			q.productNum, productName, filename, showQuestion, 
			questionDate, answerDate 
		FROM productQna q 
		JOIN product p ON q.productNum = p.productNum 
		JOIN member1 m ON q.answerIdx = m.memberIdx 
		LEFT OUTER JOIN ( 
			SELECT qnaNum, LISTAGG(filename, ',') WITHIN GROUP(ORDER BY fileNum) filename 
            FROM productQnaFile 
            GROUP BY qnaNum 
		) f ON q.qnaNum=f.qnaNum 
		LEFT OUTER JOIN member1 m2 ON q.answerIdx = m2.memberIdx
		<where>
			<if test="questionIdx != null">
				q.questionIdx = #{questionIdx}
			</if>
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
			</if>
		</where>
		ORDER BY q.qnaNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="questionCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM productQna
		<where>
			<if test="memberIdx != null">
				answerIdx = #{answerIdx}
			</if>
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
			</if>
		</where>
	</select>
	
	<update id="updateQuestion" parameterType="com.fa.plus.admin.domain.shop.ShopQuestion">
		UPDATE productQna SET answer = #{answer}, answerId = #{answerId}, answerDate = SYSDATE, 
			showQuestion = #{showQuestion}
		WHERE qnaNum = #{qnaNum}
	</update>
	
	<select id="listQuestionFile" parameterType="long" resultType="com.fa.plus.admin.domain.shop.ShopQuestion">
		SELECT fileNum, qnaNum, filename
		FROM productQnaFile
		WHERE qnaNum = #{qnaNum}
	</select>
	
	<delete id="deleteQuestion" parameterType="long">
		DELETE FROM productQna
		WHERE qnaNum = #{qnaNum}
	</delete>
</mapper>