<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.ShopOrderManageMapper">
	<sql id="where-list">
		<choose>
			<when test="schType == 'orderNum' ">
			   ( po.orderNum  = #{kwd} )
			</when>
			<when test="schType == 'invoiceNumber' ">
			   ( invoiceNumber  = #{kwd} )
			</when>
			<when test="schType == 'orderDate' ">
			   ( TO_CHAR(orderDate, 'YYYYMMDD') = #{kwd}
		          OR TO_CHAR(orderDate, 'YYYY-MM-DD') = #{kwd} )
			</when>
			<when test="schType == 'orderName'">
			    INSTR(userName, #{kwd}) &gt; 0
			</when>
		</choose>
	</sql>
	
	<!-- 주문 내역리스트 선택 -->
	<select id="listOrder" parameterType="map" resultType="com.fa.plus.admin.domain.shop.ShopOrderManage">
		SELECT po.orderNum, po.memberIdx, NVL(userName, orderName) userName, totalMoney, 
			usedSaved, deliveryCharge, payment, cancelAmount, 
            TO_CHAR(orderDate, 'YYYY-MM-DD HH24:MI') orderDate, 
            orderState, deliveryName, invoiceNumber, 
            NVL(totalOrderCount, 0) totalOrderCount, NVL(totalQty, 0) totalQty, 
            NVL(detailCancelCount, 0) detailCancelCount 
		FROM productOrder po 
		LEFT OUTER JOIN member1 m ON po.memberIdx = m.memberIdx 
        LEFT OUTER JOIN ( 
            SELECT orderNum, COUNT(*) totalOrderCount, SUM(qty) totalQty, 
            	COUNT(DECODE(detailState,3,1,4,1,5,1,10,1,11,1,12,1)) detailCancelCount 
            FROM orderDetail 
            GROUP BY orderNum 
        ) od ON po.orderNum = od.orderNum 
		<where>
			<if test="state == 0">
				( po.orderState = 0) 
			</if>
			<if test="state == 1">
				( po.orderState = 1) 
			</if>
			<if test="state == 2">
				( po.orderState = 2) 
			</if>
			<if test="state == 3">
				( po.orderState = 3) 
			</if>
			<if test="state == 4">
				( po.orderState = 4) 
			</if>
			<if test="state == 5">
				( po.orderState = 5) 
			</if>
			<if test="state == 6">
				( po.orderState = 6) 
			</if>
			<if test="state == 7">
				( po.orderState = 7) 
			</if>
			<if test="kwd!=null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
		</where>  
        ORDER BY po.orderNum DESC 
        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY 
	</select>
</mapper>