<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.ShopCustomerMapper">

	<!-- 상품 리뷰 -->
	<select id="listReview" parameterType="map" resultType="com.fa.plus.admin.domain.shop.ShopReview">
		SELECT pr.orderDetailNum, score, review, 
		answer, reviewDate, answerDate, showReview, 
		pr.productNum, pr.memberIdx, fileNum, fileName, 
		productName, userId, optionValue, optionValue2
		FROM productReview pr 
		LEFT OUTER JOIN productReviewFile f ON pr.orderDetailNum = f.orderDetailNum 
		LEFT OUTER JOIN product p ON pr.productNum = p.productNum 
		LEFT OUTER JOIN member1 m ON pr.memberIdx = m.memberIdx 
		LEFT OUTER JOIN (
		    SELECT orderDetailNum, d1.detailNum, d1.optionValue optionValue FROM optionDetail d1 
		    JOIN orderDetail od1 ON d1.detailNum = od1.detailNum ) odd1 
		ON pr.orderDetailNum = odd1.orderDetailNum 
		LEFT OUTER JOIN (
		    SELECT orderDetailNum, d2.detailNum, d2.optionValue optionValue2 FROM optionDetail d2 
		    JOIN orderDetail od2 ON d2.detailNum = od2.detailNum ) odd2 
		ON pr.orderDetailNum = odd2.orderDetailNum
		<where>
			<!-- 
			<if test="memberIdx != null">
				pr.memberIdx = #{memberIdx}
			</if>
			 -->
			<if test="mode != null">
				<if test="mode == 2">
					( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					( answer IS NULL )
				</if>
			</if>
			<if test="mode == 1 and kwd != null and kwd != ''">
				<if test="schType == 'all'">
					( INSTR(productName, #{kwd}) &gt; 0
						OR DBMS_LOB.INSTR(review, #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'review'">
					DBMS_LOB.INSTR(review, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'answer'">
					DBMS_LOB.INSTR(answer, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'userId'">
					INSTR(userId, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'reviewDate'">
				   ( INSTR(TO_CHAR(reviewDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(reviewDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'answerDate'">
				   ( INSTR(TO_CHAR(answerDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(answerDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
			</if>
			<if test="mode != 1 and kwd != null and kwd != ''">
				<if test="schType == 'all'">
					AND ( INSTR(productName, #{kwd}) &gt; 0
						OR DBMS_LOB.INSTR(review, #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'review'">
					AND DBMS_LOB.INSTR(review, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'answer'">
					AND DBMS_LOB.INSTR(answer, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'userId'">
					AND INSTR(userId, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'reviewDate'">
				   AND ( INSTR(TO_CHAR(reviewDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(reviewDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'answerDate'">
				   AND ( INSTR(TO_CHAR(answerDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(answerDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
			</if>
		</where>
		<choose>
			<when test="col == 'productNum'">
				ORDER BY ${col}
			</when>
			<otherwise>
				ORDER BY ${col} DESC
			</otherwise>
		</choose>
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="reviewCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM productReview
		<where>
			<!-- 
			<if test="memberIdx != null">
				memberIdx = #{memberIdx}
			</if>
			 -->
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
			</if>
			<if test="mode == 1 and kwd != null and kwd != ''">
				<if test="schType == 'all'">
					( INSTR(productName, #{kwd}) &gt; 0
						OR DBMS_LOB.INSTR(review, #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'review'">
					DBMS_LOB.INSTR(review, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'answer'">
					DBMS_LOB.INSTR(answer, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'userId'">
					INSTR(userId, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'reviewDate'">
				   ( INSTR(TO_CHAR(reviewDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(reviewDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'answerDate'">
				   ( INSTR(TO_CHAR(answerDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(answerDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
			</if>
			<if test="mode != 1 and kwd != null and kwd != ''">
				<if test="schType == 'all'">
					AND ( INSTR(productName, #{kwd}) &gt; 0
						OR DBMS_LOB.INSTR(review, #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'review'">
					AND DBMS_LOB.INSTR(review, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'answer'">
					AND DBMS_LOB.INSTR(answer, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'userId'">
					AND INSTR(userId, #{kwd}) &gt; 0
				</if>
				<if test="schType == 'reviewDate'">
				   AND ( INSTR(TO_CHAR(reviewDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(reviewDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
				<if test="schType == 'answerDate'">
				   AND ( INSTR(TO_CHAR(answerDate, 'YYYYMMDD'), #{kwd}) &gt; 0
			          OR INSTR(TO_CHAR(answerDate, 'YYYY-MM-DD'), #{kwd}) &gt; 0 )
				</if>
			</if>
		</where>
	</select>
	
	<update id="updateReview" parameterType="map">
		UPDATE productReview SET answer = #{answer}, answerDate = SYSDATE, showReview = #{showReview}
		WHERE orderDetailNum = #{orderDetailNum}
	</update>
	
	<select id="listReviewFile" parameterType="Long" resultType="com.fa.plus.admin.domain.shop.ShopReview">
		SELECT fileNum, orderDetailNum, filename
		FROM productReviewFile
		WHERE orderDetailNum = #{orderDetailNum}
	</select>
	
	<delete id="deleteReview" parameterType="Long">
		DELETE FROM productReview
		WHERE orderDetailNum = #{orderDetailNum}
	</delete>
	
	<delete id="deleteReviewFile" parameterType="long">
		DELETE FROM productReviewFile
		WHERE orderDetailNum = #{orderDetailNum}
	</delete>
	
	<!-- 상품 문의 -->
	<select id="listQuestion" parameterType="map" resultType="com.fa.plus.admin.domain.shop.ShopQuestion">
		SELECT q.qnaNum, secret, question, answer, questionDate, 
		answerDate, q.productNum, m1.userId questionId, m1.userName, 
		m2.userId answerId, showQuestion, fileNum, filename, productName 
		FROM productQna q 
		LEFT OUTER JOIN productQnaFile f ON q.qnaNum = f.qnaNum 
		LEFT OUTER JOIN product p ON q.productNum = p.productNum 
		LEFT OUTER JOIN member1 m1 ON q.questionIdx = m1.memberIdx 
		LEFT OUTER JOIN member1 m2 ON q.answerIdx = m2.memberIdx 
		<where>
		<!-- 
			<if test="questionIdx != null">
				q.questionIdx = #{questionIdx}
			</if>
		 -->
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
				<if test="mode == 4">
					AND ( secret = 1 )
				</if>
			</if>
		</where>
		<choose>
			<when test="col == 'productNum'">
				ORDER BY ${col}
			</when>
			<otherwise>
				ORDER BY ${col} DESC
			</otherwise>
		</choose>
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="questionCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM productQna
		<where>
			<!-- 
			<if test="answerIdx != null">
				answerIdx = #{answerIdx}
			</if>
			 -->
			<if test="mode != null">
				<if test="mode == 2">
					AND ( answer IS NOT NULL )
				</if>
				<if test="mode == 3">
					AND ( answer IS NULL )
				</if>
				<if test="mode == 4">
					AND ( secret = 1 )
				</if>
			</if>
		</where>
	</select>
	
	<update id="updateQuestion" parameterType="map">
		UPDATE productQna SET answer = #{answer}, answerIdx = #{answerIdx}, 
			answerDate = SYSDATE, showQuestion = #{showQuestion} 
		WHERE qnaNum = #{qnaNum}
	</update>
	
	<select id="listQuestionFile" parameterType="long" resultType="com.fa.plus.admin.domain.shop.ShopQuestion">
		SELECT fileNum, qnaNum, filename
		FROM productQnaFile
		WHERE qnaNum = #{qnaNum}
	</select>
	
	<delete id="deleteQuestion" parameterType="long">
		DELETE FROM productQna
		WHERE qnaNum = #{qnaNum}
	</delete>
	
	<delete id="deleteQuestionFile" parameterType="long">
		DELETE FROM productQnaFile
		WHERE qnaNum = #{qnaNum}
	</delete>
</mapper>