<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.CarManageMapper">
	<!-- 카라반 등록 -->
	<select id="carNumseq" resultType="Long">
		SELECT carNum_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertCar" parameterType="com.fa.plus.admin.domain.car.CampingCar">
		INSERT INTO campingCar(carNum, carName, carSize, thumbnail, discountRate, 
				carShow, reg_date, rev_date, carMaxNum, sleepNum, 
				content, petOrNot, description) 
		VALUES (#{carNum}, #{carName}, #{carSize}, #{thumbnail}, #{discountRate}, 
				#{carShow}, SYSDATE, SYSDATE, #{carMaxNum}, #{sleepNum}, 
				#{content}, #{petOrNot}, #{description})
	</insert>
	
	<insert id="insertCarDetail" parameterType="com.fa.plus.admin.domain.car.CampingCar">
		INSERT INTO carDetail(caravanNum, weekCost, wkndCost, carBirth, carNum) 
				VALUES (#{caravanNum}, #{weekCost}, #{wkndCost}, #{carBirth}, #{carNum})
	</insert>
	
	<insert id="insertCarOption" parameterType="com.fa.plus.admin.domain.car.CampingCar">
		INSERT INTO carOption(caravanNum, toilet, shower, bed, sink, microwave,
		 frige, waterHeater, desk, tv, airCondition, heater, powerBank, induction, gasStove) 
		VALUES (#{caravanNum}, #{toilet}, #{shower}, #{bed}, #{sink},
			#{microwave}, #{frige}, #{waterHeater}, #{desk}, #{tv},
			#{airCondition}, #{heater}, #{powerBank}, #{induction}, #{gasStove})
	</insert>
	
	<!-- 추가 이미지 등록 -->
	<insert id="insertImageFile" parameterType="com.fa.plus.admin.domain.car.CampingCar">
		INSERT INTO addImagefile(carImagenum, imageFilename, caravanNum)
			VALUES(carImagenum_seq.NEXTVAL, #{imageFilename}, #{caravanNum})
	</insert>
	
	<sql id="where-list">
		<if test="schType=='all'">
			(INSTR(carName, #{kwd}) &gt; 0
				OR (INSTR(carNum, #{kwd}) &gt; 0
				OR (TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd} 
			)
		</if>
		<if test="schType=='carName'">
			INSTR(carName, #{kwd}) &gt; 0
		</if>
		<if test="schType=='carNum'">
			INSTR(carNum, #{kwd}) = &gt; 0
		</if>
		<if test="schType=='reg_date'">
			( TO_CHAR(reg_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd} )
		</if>
	</sql>
	
	<!-- 데이터 갯수 세기 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM campingCar c
		<where>
			<if test="carShow != -1">
				AND carShow = #{carShow}
			</if>
			<if test="kwd != null and kwd != ''">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 리스트 -->
	<select id="listCar" parameterType="map" resultType="com.fa.plus.admin.domain.car.CampingCar">
		SELECT c.carNum, thumbnail, carName, d.weekCost, d.wkndCost, discountRate, TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date
		FROM campingCar c 
		JOIN carDetail d ON c.carNum = d.carNum
		<where>
			<if test="carShow != -1">
				AND carShow = #{carShow}
			</if>
			<if test="kwd != null and kwd != ''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY c.carNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	

</mapper>