<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.CarAdminReservationMapper">
	<select id="todayReservation" resultType="map">
		SELECT COUNT(orderDate) count FROM carReservation 
		WHERE TO_CHAR(orderDate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="monthSales" resultType="map">
		
	</select>
	
	<select id="yearSales" resultType="map">
	
	</select>
</mapper>