<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.SiteChartMapper">
	<select id="previousMonthBook" resultType="map">
		select count(booknum) cnt,sum(totalprice) tot from book join booklist on book.listnum= booklist.listnum where to_char(order_date,'yyyymm')=to_char(add_months(sysdate,-1),'yyyymm')
	</select>
	<select id="previousYearBook" resultType="map">
		select count(booknum) cnt,sum(totalprice) tot from book join booklist on book.listnum= booklist.listnum where to_char(order_date,'yyyy')=to_char(add_months(sysdate,-12),'yyyy')
	</select>
	<select id="adEfect" resultType="map">
		select
		(select sum(bookprice)
		from book
		left join (select detailnum dnum,sitenum  from sitedetail) on detailnum=dnum
		right join(select endp-startp period,startp,endp,sitenum snum from promotionsite) on sitenum=snum
		left join ( select listnum lnum,order_date from booklist) on book.listnum=lnum
		where order_date &lt;= endp and startp &lt;=order_date) adsum
		,
		(select sum(bookprice)
		from book
		left join (select detailnum dnum,sitenum  from sitedetail) on detailnum=dnum
		right join(select endp-startp period,startp,endp,sitenum snum from promotionsite) on sitenum=snum
		left join ( select listnum lnum,order_date from booklist) on book.listnum=lnum
		where order_date &lt;=endp-period and startp-period &lt;=order_date)  nonadsum
		from dual
	</select>
	
	
	
	<select id="siteRankYear" resultType="map">
		select sitelocal,sum(bookprice) sum
		from book
		left join booklist on book.listnum=booklist.listnum
		left join sitedetail on book.detailnum=sitedetail.detailnum
        left join campingsite on campingsite.sitenum=sitedetail.sitenum
		where order_date &gt; add_months(sysdate,-12)
		GROUP BY sitelocal
		ORDER BY sum desc

	</select>
	
	<select id="monthsRankYear" resultType="map">
		select order_months,sum(bookprice) sum
		from book
		left join (select listnum lnum,to_char(order_date,'mm') order_months from booklist) on book.listnum=lnum
		left join sitedetail on book.detailnum=sitedetail.detailnum
		where order_months &gt;= to_char(add_months(sysdate,-12),'mm')
		GROUP BY ROLLUP(order_months)
		ORDER BY order_months 

	</select>
	
	<select id="daysRankYear" resultType="map">
		select order_days,sum(bookprice) sum
		from book
		right join (
		        select listnum lnum,to_char(order_date,'d') order_days from booklist
		        where order_date &gt; add_months(sysdate,-12) ) on book.listnum=lnum
		left join sitedetail on book.detailnum=sitedetail.detailnum
		GROUP BY ROLLUP(order_days)
		ORDER BY order_days 

	</select>
	
	<select id="thingsRankYear" resultType="map">
		select things,sum(bookprice) sum
		from book
		right join (
		        select listnum lnum from booklist
		        where order_date &gt; add_months(sysdate,-12) ) on book.listnum=lnum
		left join (select detailnum dnum,sitenum  
		<if test="keyword===floor">
		 ,${keyword} things  
		</if>
		  from sitedetail) on detailnum=dnum
		left join (select sitenum snum 
		<if test="keyword!==floor">
		 ,${keyword} things  
		</if>
		 from campingsite) on sitenum=snum
		GROUP BY ROLLUP(things)
		ORDER BY things 


	</select>
</mapper>