<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.CampingCarMapper">
	
	<sql id="where-list">
		<if test="schType=='carSize' ">
			INSTR(carSize, #{kwd}) &gt; 0
		</if>
		<if test="schType=='start_date' ">
			( TO_CHAR(start_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(start_date, 'YYYYMMDD') = #{kwd} )
		</if>
		<if test="schType=='end_date' ">
			( TO_CHAR(end_date, 'YYYY-MM-DD') = #{kwd}
				OR TO_CHAR(end_date, 'YYYYMMDD') = #{kwd} )
		</if>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM campingCar
		<where>
			carShow = 1
			<if test="kwd != null and kwd != '' ">
				AND <include refid="where-list" />
			</if>
		</where> 
	</select>
	
	<select id="listCampingCar" parameterType="map" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT d.carNum, carName, carSize, thumbnail, discountRate, carShow, carMaxNum, sleepNum, content, petOrNot, 
			description, caravanNum, weekCost, wkndCost,
			carBirth
		FROM campingCar c
		JOIN carDetail d ON c.carNum = d.carNum
		WHERE carShow = 1
		ORDER BY carNum DESC
	</select> 
	
	<select id="findById" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
				SELECT c.carNum, c.carName, c.carSize, c.thumbnail, c.carShow, c.discountRate, c.carMaxNum, c.sleepNum, c.content, c.petOrNot, 
			c.description, c.reg_date,
			caravanNum, weekCost, wkndCost, carBirth
		FROM campingCar c
		JOIN carDetail d ON c.carNum = d.carNum
		WHERE carShow = 1 AND c.carNum = #{carNum}
	</select>
	
	<select id="listCarFile" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT carImagenum, imageFilename, d.caravanNum, c.carNum
		FROM addImagefile a
		JOIN carDetail d ON a.caravanNum = d.caravanNum
		JOIN campingCar c ON d.carNum = c.carNum
		WHERE c.carNum = #{carNum}
	</select>
	
	<select id="listOption" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT * FROM carOption o
		JOIN carDetail d ON o.caravanNUM = d.caravanNum
		JOIN campingCar c ON d.carNum = c.carNum
		WHERE c.carNUM = #{carNum}
	</select>
	
	
	
</mapper>