<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.CampingCarMapper">

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM campingCar c
		<if test="start_date!='' and end_date != '' ">
			JOIN (
				SELECT carNum,start_date,end_date,orderNum 
				FROM carReservation
				WHERE end_date &gt; SYSDATE AND end_date &gt;= TO_DATE(#{start_date},'yyyy-mm-dd') AND TO_DATE(#{end_date},'yyyy-mm-dd') &gt;= start_date
			) r ON c.carNum=r.carNum
		</if>		
		<where>
			carShow = 1
			<if test="carSize != '' ">
				AND carSize = #{carSize}
			</if>
		</where> 
	</select>
	
	<select id="listCampingCar" parameterType="map" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT c.carNum, carName, carSize, thumbnail, discountRate, carShow, carMaxNum, sleepNum, content, petOrNot, 
			description, caravanNum, weekCost, wkndCost,
			carBirth
		FROM campingCar c
		JOIN carDetail d ON c.carNum = d.carNum
		<if test="start_date!='' and end_date != '' ">
			<![CDATA[
		        AND c.carNum NOT IN (
		            SELECT carNum
		            FROM carReservation
		            WHERE end_date > SYSDATE AND end_date >= TO_DATE(#{start_date},'yyyy-mm-dd') AND TO_DATE(#{end_date},'yyyy-mm-dd') >= start_date
		        )
		    ]]>
		</if>		
		<where>
			carShow = 1
			<if test="carSize != '' ">
				AND carSize = #{carSize}
			</if>
		</where> 
		ORDER BY d.carNum DESC
	</select> 
	
	<select id="findById" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
				SELECT c.carNum, c.carName, c.carSize, c.thumbnail, c.carShow, c.discountRate, c.carMaxNum, c.sleepNum, c.content, c.petOrNot, 
			c.description, c.reg_date,
			caravanNum, weekCost, wkndCost, carBirth
		FROM campingCar c
		JOIN carDetail d ON c.carNum = d.carNum
		WHERE carShow = 1 AND c.carNum = #{carNum}
	</select>
	
	<select id="listCarFile" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT carImagenum, imageFilename, d.caravanNum, c.carNum
		FROM addImagefile a
		JOIN carDetail d ON a.caravanNum = d.caravanNum
		JOIN campingCar c ON d.carNum = c.carNum
		WHERE c.carNum = #{carNum}
	</select>
	
	<select id="listOption" parameterType="Long" resultType="com.fa.plus.domain.car.CampingCar">
		SELECT * FROM carOption o
		JOIN carDetail d ON o.caravanNUM = d.caravanNum
		JOIN campingCar c ON d.carNum = c.carNum
		WHERE c.carNUM = #{carNum}
	</select>
	
	
	
</mapper>