<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.CarMyPageMapper">
	<!-- 운전자 정보 등록 -->
	<insert id="insertRider" parameterType="com.fa.plus.domain.car.CarMyPage">
		INSERT INTO license(memberIdx, licenseDate, licenseImage)
			VALUES (#{memberIdx}, #{licenseDate}, #{licenseImage})
	</insert>
	
	<!-- 운전자 정보 수정 -->
	<update id="updateRider" parameterType="com.fa.plus.domain.car.CarMyPage">
		UPDATE license SET licenseDate=#{licenseDate}, licenseImage=#{licenseImage}
			WHERE memberIdx = #{memberIdx}
	</update>
	
	
	
	<!-- 운전자 정보 보기 -->
	<!-- 
	<select id="riderInfo" parameterType="String" resultType="com.fa.plus.domain.car.CarMyPage">
		SELECT r.memberIdx, licenseDate, licenseImage, m2.birth, m.userId
		FROM license r
		JOIN member1 m ON r.memberIdx = m.memberIdx
		JOIN member2 m2 ON m.userId = m2.userId
		WHERE userId = #{userId}
	</select> -->
	 
</mapper>