<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.mapper.CarQnaMapper">
	<insert id="insertCarQna" parameterType="com.fa.plus.domain.car.CarQna">
		INSERT INTO carQna(qnaNum, secret, question, memberIdx, carNum, question_date)
			VALUES(qnaNum_seq.NEXTVAL, #{secret}, #{question}, #{memberIdx}, #{carNum}, SYSDATE)
	</insert>
	
	<insert id="insertCarQnaFile" parameterType="com.fa.plus.domain.car.CarQna">
		INSERT INTO carQnaFile(fileNum, qnaNum, filename)
			VALUES(carQnaFile_seq.NEXTVAL, qnaNum_seq.CURRVAL, #{filename})
	</insert>
	
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM carQna
		WHERE carNum = #{carNum} AND enabled = 1
	</select>
	
	
	<select id="listCarQna" parameterType="map" resultType="com.fa.plus.domain.car.CarQna">
		SELECT q.qnaNum, q.memberIdx, m.userName, q.secret, q.question, q.answer, 
		q.carNum, q.enabled, q.question_date, q.answer_date ,c.carName, f.filename , m2.userId answerId
		FROM carQna q 
		JOIN campingCar c ON q.carNum = c.carNum 
		JOIN member1 m ON q.memberIdx = m.memberIdx 
		LEFT OUTER JOIN ( 
		    SELECT qnaNum, LISTAGG(filename, ',') WITHIN GROUP(ORDER BY fileNum) filename 
		    FROM carQnaFile 
		    GROUP BY qnaNum ) f ON q.qnaNum=f.qnaNum 
		LEFT OUTER JOIN member1 m2 ON q.answerId = m2.userId 
		WHERE q.carNum = #{carNum}
		ORDER BY q.qnaNum DESC 
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="listQnaFile" parameterType="long" resultType="com.fa.plus.domain.car.CarQna">
		SELECT fileNum, qnaNum, filename
		FROM carQnaFile
		WHERE qnaNum = #{qnaNum}
	</select>
</mapper>