<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fa.plus.admin.mapper.ShopNoticeManageMapper">
	<select id="noticeSeq" resultType="Long">
		SELECT notice_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertNotice" parameterType="com.fa.plus.admin.domain.ShopNoticeManage">
		INSERT INTO board(boardNum, subject, name, content, reg_date, hitCount, boardType, ipAddr, fixed, memberIdx)
		VALUES(#{boardNum}, #{subject}, #{name}, #{content}, SYSDATE, 0, #{boardType}, #{ipAddr}, #{fixed}, #{memberIdx})
	</insert>
	
</mapper>
